* {
  margin: 0;
  padding: 0;
  background-image: url(/images/image\ 2.jpg);
  background-repeat: no-repeat;
}
main {
  padding: 2rem;
}
.hero {
  text-align: center;
  margin-bottom: 2rem;
}

.hero img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-top: 1rem;
}
.gallery {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
footer {
  align-items: baseline;
  align-content: center;
  justify-content: center;
  justify-items: center;
  color: black;
}
